/* Reset basics */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #fff8f6;
  color: #333;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(219, 186, 226);
  position: fixed;
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.main-nav li a {
  text-decoration: none;
  display: inline-block;
  width: max-content;
  color: white;
  margin-right: 1.25rem;
}

.main-nav a:hover {
  color: rgb(188, 138, 198);
}

.main-nav img {
  margin-left: 1.875rem;
  width: 5rem;
  height: auto;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1.875rem;
  padding: 5rem;
}

.about h2 {
  font-size: 3.75rem;
  color: rgb(219, 186, 226);
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0.5625rem;
}

#highlight {
  font-family: 'Brush Script MT', cursive;
  font-weight: 100;
  background-color: rgb(219, 186, 226);
  padding: 1.25rem;
  color: white;
}

.about p {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  margin: 0;
  color: rgb(219, 186, 226);
}

.container {
  background-color: rgb(219, 186, 226);
  display: block;
  text-align: center;
  color: white;
  padding-bottom: 1.875rem;
}

.container h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.875rem;
  padding-top: 2.5rem;
  padding-bottom: 0.125rem;
}

.products {
  display: flex;
  flex-wrap: wrap; /* so items don’t overflow */
  justify-content: center; /* centers the items as a group */
  gap: 2rem; /* spacing between items */
  padding: 1rem;
}

.prod {
  padding: 0.625rem;
  display: block;
  align-items: center;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.prod img {
  width: 12.5rem;
  height: auto;
  margin: 0;
  border-radius: 1.25rem;
}

#logot1 {
  float: inline-start;
  padding: 1.875rem;
  margin: 1.25rem;
}

#logot1 img {
  vertical-align: middle;
  width: 12.5rem;
  height: auto;
}

#logot2 {
  padding: 1.875rem;
  margin: 1.25rem;
}

#logot2 img {
  vertical-align: middle;
  width: 12.5rem;
  height: auto;
}

.prod h4 {
  font-size: 1.25rem;
  margin: 0.125rem;
  text-decoration: underline;
  text-decoration-color: rgb(188, 138, 198);
}

.prod p {
  font-family: 'Times New Roman', Times, serif;
  margin: 0.25rem;
  font-weight: bold;
}

#container2 {
  display: block;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: rgb(219, 186, 226);
  padding: 6.25rem;
}

#container2 h2 {
  font-size: 1.875rem;
  color: rgb(219, 186, 226);
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0.5625rem;
}

#testi {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.testim img {
  width: 12.5rem;
  height: auto;
  padding: 1.875rem;
}

.testim h4 {
  font-size: 1.25rem;
  margin: 0.125rem;
}

.testim p {
  margin: 0.25rem;
  font-weight: bold;
}

.testim {
  transition: transform 0.3s ease;
}

.testim:hover {
  transform: scale(1.1);
}

footer {
  background-color: rgb(219, 186, 226);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

footer h4 {
  font-size: 1.875rem;
  margin: 0.125rem;
}

footer h3 {
  font-size: 0.9375rem;
  margin: 0.0625rem;
}

